body {
  background-color: #f8f8f8;
  font-family: "Roboto", sans-serif;
  color: #333;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.pokemon-list {
  list-style-type: none;
  padding: 0;
}

.pokemon-item {
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.pokemon-item:hover {
  transform: translateY(-5px);
}

.pokemon-image {
  width: 100%;
  height: auto;
  border: 5px solid #eee;
  border-radius: 10px;
  object-fit: cover;
}

.pokemon-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pokemon-details-modal {
  background-color: #fff;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.type-container {
  margin-top: 5px;
}

.type {
  display: inline-block;
  margin-right: 5px;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
}

.type-normal {
  background-color: #a8a878;
  color: #fff;
}

.type-fire {
  background-color: #f08030;
  color: #fff;
}

.type-water {
  background-color: #6890f0;
  color: #fff;
}

.type-electric {
  background-color: #f8d030;
  color: #333;
}

.type-grass {
  background-color: #78c850;
  color: #333;
}

.type-ice {
  background-color: #98d8d8;
  color: #333;
}

.type-fighting {
  background-color: #c03028;
  color: #fff;
}

.type-poison {
  background-color: #a040a0;
  color: #fff;
}

.type-ground {
  background-color: #e0c068;
  color: #333;
}

.type-flying {
  background-color: #a890f0;
  color: #333;
}

.type-psychic {
  background-color: #f85888;
  color: #fff;
}

.type-bug {
  background-color: #a8b820;
  color: #fff;
}

.type-rock {
  background-color: #b8a038;
  color: #fff;
}

.type-ghost {
  background-color: #705898;
  color: #fff;
}

.type-dragon {
  background-color: #7038f8;
  color: #fff;
}

.type-dark {
  background-color: #705848;
  color: #fff;
}

.type-steel {
  background-color: #b8b8d0;
  color: #333;
}

.search-input {
  margin-bottom: 10px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

@media (max-width: 600px) {
  .pokemon-item {
    padding: 8px;
    font-size: 14px;
  }
}
